/*==================================
    GLOBAL CSS START
==================================*/

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: var(--colorWhite);
}

p,
span {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #000000;
    color: var(--colorWhite);
    font-family: var(--bodyFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #CDFE7D;
    --paraColor: #ffffff85;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --bodyFont: "Urbanist", sans-serif;
}

.common_btn,
.common_btn_2 {
    color: var(--colorWhite);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 16px 30px;
    border-radius: 15px;
    border: 1px solid var(--colorWhite);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn i,
.common_btn_2 i {
    margin-left: 5px;
}

.common_btn:hover {
    background: var(--colorPrimary);
    color: var(--colorBlack);
    border-color: var(--colorPrimary);
}

.common_btn_2:hover {
    background: var(--colorPrimary);
    border-color: var(--colorPrimary);
    color: var(--colorBlack);
}

.common_btn_2 {
    background: var(--colorPrimary);
    color: var(--colorBlack);
    border-color: var(--colorPrimary);
}

.section_heading {
    text-align: center;
}

.section_heading h5 {
    position: relative;
    color: var(--colorWhite);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
}

.section_heading h5::before,
.section_heading h5::after {
    position: absolute;
    content: "";
    background: url(../images/heading_sghapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 10px;
    top: 12px;
    right: -60px;
}

.section_heading h5::after {
    right: auto;
    left: -60px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.section_heading h2 {
    color: var(--colorWhite);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.heading_left {
    text-align: left;
}

.heading_left h5::after {
    display: none;
}

.heading_left h2 {
    text-align: left;
}

.title {
    display: block;
    color: var(--colorWhite);
    font-size: 25px;
    font-weight: 700;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.title:hover {
    color: var(--colorPrimary);
}

/*==================================
    GLOBAL CSS END
==================================*/














/*==================================
    HOME PAGE 01 START
==================================*/
/* menu start */
.main_menu {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 99;
    padding: 0;
    border-bottom: 1px solid transparent;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 120px;
}

.main_menu .navbar-nav {}

.main_menu .navbar-nav .nav-item {}

.main_menu .navbar-nav .nav-item .nav-link {
    color: var(--colorWhite);
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0px 20px;
    line-height: 90px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    font-size: 13px;
    margin-left: 5px;
}

.main_menu .navbar-nav .nav-item .nav-link:hover,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorPrimary);
}


.main_menu.sticky_menu {
    background: var(--colorBlack);
    top: 0;
    border-color: rgb(255 255 255 / 16%);
}

/* menu end */


/* banner start */
.banner {
    padding-top: 105px;
    height: 100vh;
    position: relative;
}

.banner::after {
    position: absolute;
    content: "";
    background: url(../images/banner_shapes.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 440px;
    height: 685px;
    top: 150px;
    left: 0;
    z-index: -1;
    animation: banner_animi linear 3s infinite alternate;
    -webkit-animation: banner_animi linear 3s infinite alternate;
}

@keyframes banner_animi {
    from {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.banner div {
    height: 100%;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner_text h1 {
    color: var(--colorWhite);
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
}

.banner_text p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 45px;
}

.banner_text ul {
    gap: 30px;
}

.banner_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner_img .img {
    height: 600px;
}

/* banner end */


/* about start */
.about_us {
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    z-index: 1;
    padding-bottom: 585px;
}

.about_us::after {
    position: absolute;
    content: "";
    background: url(../images/about_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    z-index: -1;
}

.about_text p {
    margin-top: 25px;
    margin-bottom: 20px;
}

.about_text ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.about_text ul li {
    position: relative;
    width: 50%;
    margin-top: 15px;
    padding-left: 25px;
}

.about_text ul li::after {
    position: absolute;
    content: "\f00c";
    font-family: "font awesome 5 free";
    font-size: 12px;
    font-weight: 600;
    color: var(--colorPrimary);
    top: 3px;
    left: 0;
}

.about_text a {
    border-color: var(--colorPrimary);
}

.about_us_img_1 {
    padding-left: 30px;
}

.about_us_img_1 .img {
    height: 345px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: -25px;
    margin-left: auto;
}

.about_us_img_1 .text {
    background: var(--colorBlack);
    padding: 30px;
    border-radius: 30px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about_us_img_1 .text span {
    color: var(--colorWhite);
    font-size: 60px;
    font-weight: 700;
}

.about_us_img_1 .text p {
    display: inline;
    max-width: 110px;
}

.about_us_img_2 {
    height: 535px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 25px;
    position: relative;
}

.about_us_img_2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(0deg, #E8BF96 0%, rgba(232, 191, 150, 0.00) 41.56%);
    bottom: 0;
    left: 0;
}

/* about end */


/* service start */
.services {
    margin-top: -450px;
    position: relative;
    z-index: 2;
}

.single_services {
    padding: 40px 25px;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    background: #0D0D0D;
    margin-top: 25px;
}

.single_services .icon {
    width: 65px;
    height: 65px;
    display: block;
    background: var(--colorPrimary);
    padding: 8px;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.single_services .title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.single_services p {
    margin-bottom: 30px;
}

.single_services .arrow img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(10%) saturate(2143%) hue-rotate(351deg) brightness(132%) contrast(99%);
}

/* service end */


/* project start  */
.single_project {
    margin-top: 60px;
}

.single_project_img {
    border-radius: 30px;
    overflow: hidden;
    height: 345px;
}

.single_project_text {
    padding: 45px 0px 50px 30px;
    border-left: 1px solid var(--colorWhite);
    position: relative;
    margin-left: 80px;
}

.single_project_text::after,
.single_project_text::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background: var(--colorWhite);
    top: 0px;
    left: -4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.single_project_text::before {
    top: auto;
    bottom: 0;
}

.single_project_text p {
    color: var(--colorWhite);
    margin-top: 22px;
    margin-bottom: 27px;
}

.single_project_text ul li {
    position: relative;
    color: var(--colorWhite);
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 20px;
}

.single_project_text ul li::after {
    position: absolute;
    content: "\f00c";
    font-family: "font awesome 5 free";
    font-size: 14px;
    font-weight: 600;
    color: var(--colorWhite);
    top: 5px;
    left: 0;
}

.project_learn_btn {
    color: var(--colorWhite);
}

.project_learn_btn a {
    color: var(--colorWhite);
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
    margin-left: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_learn_btn a:hover {
    color: var(--colorPrimary);
}

/* project end */


/* review start */
.reviews {
    position: relative;
}

.reviews::after {
    position: absolute;
    content: "";
    background: url(../images/testimonial_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 92%;
    height: 100%;
    top: 0;
    left: 80px;
    border-radius: 30px;
    z-index: -1;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.single_review {
    border-radius: 20px;
    background: #0D0D0D;
    padding: 40px 60px;
    position: relative;
    margin: 30px 12px 0px 12px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.single_review_top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.single_review_top .img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.single_review_top .text {}

.single_review_top .text h3 {
    color: var(--colorWhite);
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}

.single_review_top .text p {}

.single_review .rating {
    color: #ECE537;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.single_review .description {
    font-size: 20px;
}

.single_review::after {
    position: absolute;
    content: "";
    background: url(../images/testimonial_quot_icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 112px;
    height: 80px;
    top: 50px;
    right: 40px;
    z-index: 1;
}

.circle_box_area {}

.circle_box {
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    padding: 20px;
    border: 1px solid var(--colorWhite);
    color: var(--colorWhite);
    /* background: #eeeeee29; */
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5845%) hue-rotate(201deg) brightness(122%) contrast(93%);
}

.circle_box svg {
    font-size: 14px;
    font-weight: 500;
    /* text-transform: uppercase; */
    animation: circle_animi linear 25s infinite;
    -webkit-animation: circle_animi linear 25s infinite;
    color: var(--colorWhite) !important;
    letter-spacing: 2.7px;
}

.circle_box textPath {}

@keyframes circle_animi {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.circle_box::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background: url(../images/testimonial_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}



.slick-active.slick-center {}

.slick-active.slick-center .single_review {
    margin-top: 0px;
}

/* review end */

























/*==================================
    HOME PAGE 01 END
==================================*/